/*Voor kleine scherm------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {

  .nav__links {
    list-style: none;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: block;
  }

  .nav__links li {
    display: flex;
    padding: 5px 30px;
    justify-content: center;
  }

  .nav__links li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: "Times New Roman";
  }

  .nav__links li a:hover {
    color: darkgoldenrod;
  }

}
/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

  .nav__links {
    list-style: none;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    float: right;
    text-decoration: none;
    margin-top: 6.5vh;
  }

  .nav__links li {
    display: inline-block;
    padding: 0px 30px;
  }

  .nav__links li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: "Times New Roman";
  }

  .nav__links li a:hover {
    color: darkgoldenrod;
  }

  #logoutButton {
    cursor: pointer;
  }

}

