/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .container {
    margin-top: 30px;
    color: black;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
}

/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .container {
    margin-top: 15%;
    margin-bottom: 15%;
    color: black;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }

}

.layout-container {
  display: flex;
  gap: 5%;

}

@media only screen and (max-width: 768px) {
  .layout-container{
    flex-direction: column-reverse;
  }
}
main {
  flex: 3;
  display: flex;
}
aside {
  margin-top: 2.5%;
  flex: 1;
  column-gap: 5%;
}

label {
  float: left;
}

.sidebarItem {
  margin-top: 5%;
}

