#divChart {
  display: block;
}

#divChartBar {
  display: block;
  margin-top: 8vh;
}

#divChartRadar {
  display: block;
  margin-top: 8vh;
}

#compass {
  width: 380px;
  height: 380px;
  background-image:url('http://i.imgur.com/44nyA.jpg');
  position: relative;
}

#h-comp {
  margin-top: 8vh;
}

#arrow {
  width: 360px;
  height: 20px;
  border-radius: 100px 100px 100px 100px;
  background: linear-gradient(to right, blue, lightsteelblue, red);
  position: absolute;
  top: 180px;
  left: 10px;
}

