#divChart {
  display: block;
}

#divChartBar {
  display: block;
  margin-top: 8vh;
}

#divChartRadar {
  display: block;
  margin-top: 8vh;
}

#compass {
  width: 300px;
  height: 300px;
  background-image:url('http://i.imgur.com/44nyA.jpg');
  position: relative;
  background-size: contain;
  resize: both;
  overflow: scroll;
}

#h-comp {
  margin-top: 8vh;
}

#arrow {
  width: 180px;
  height: 20px;
  border-radius: 100px 0px 0px 100px;
  position: absolute;
  transform-origin: center;
  top: 180px;
  left: 5px;
  rotate: 50deg;
}

#arrowfront {
  width: 180px;
  height: 20px;
  border-radius: 100px 0px 0px 100px;
  background: red;
  position: absolute;
  transform-origin: right;
  rotate: 50deg;
  transform: rotate(50deg);
}

#arrowback {
  width: 180px;
  height: 20px;
  border-radius: 100px 0px 0px 100px;
  background: transparent;
  position: absolute;
}

#compass:hover #arrow {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  #compass {
    width: 380px;
    height: 380px;
    background-image:url('http://i.imgur.com/44nyA.jpg');
    position: relative;
    background-size: contain;
    resize: both;
    overflow: scroll;
  }
}


