
<form action="/" method="post">
  <div class="container">
    <h2>Login Form</h2>
    <label for="uname"><b>Username</b></label>
    <input type="text" id="uname" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="psw" required>

    <button type="submit" name="loginButton">Login</button>
<!--    <label>-->
<!--      <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--    </label>-->
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw" style="background-color:#f1f1f1; border-radius: 10px; padding: 10px">Forgot <a href="/forgot-psw">password?</a></span>
  </div>
</form>
