
<form action="/" method="post">
  <div class="container">
    <h2>Please login to your account using your academy credentials</h2>
    <br>
    <label for="uname"><b>Username</b></label>
    <input type="text" id="uname" placeholder="Enter Username" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="password" required>

    <button type="submit" id="loginButton" name="loginButton">Login</button>
  </div>

</form>
