/* You can add global styles to this file, and also import other style files */
/*Voor kleine scherm------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {

  html {
    height: 100%;
  }
  body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(-10deg, darkgreen, darkred);
    /*font-family: "Times New Roman", cursive;*/
    height: 100%;
    padding: 25px 25px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .logo {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
}

/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  html {
    height: 100%;
  }

  body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(-10deg, darkgreen, darkred);
    /*font-family: "Times New Roman", cursive;*/
    height: 100%;
    padding: 25px 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .logo {
    width: 150px;
    height: auto;
    display: block;
    float: left;
    cursor: pointer;
  }

}

