/*Voor kleine scherm------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .g-container {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .chart-container {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
  }
}

/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

  .g-container {
    background: white;
    margin-top: 220px;
    padding: 20px;
    border-radius: 10px;
  }

  .chart-container {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
  }
}

.layout-container {
  display: flex;
  gap: 5%;
  overflow: hidden;

}

@media only screen and (max-width: 768px) {
  .layout-container{
    flex-direction: column-reverse;
  }
}

.weatherdata-container{
  flex: 3;
}

aside{
  flex: 1;
}



