<div class="g-container">
  <div class="graph_container">
    <h1>Riga, Latvia</h1>
  </div>
  <div class="data_container">
    <div class="wind_speed">wind speed: {{ wind_speed }}</div>
    <br>
    <div class="wind_direction">wind direction: {{ wind_direction }}</div>
    <br>
    <div class="rain">rain: {{ rain }}</div>
    <br>
  </div>
  <div>
    <a href="downloadUrl" download="data.json" (click)="downloadJson()" id="downloadLink">Download</a>
  </div>
  <app-my-chart></app-my-chart>

</div>
