<div class="g-container">
  <div class="layout-container">
    <div class="weatherdata-container">
      <div class="graph_container">
        <h1>{{ place }}, {{ country }}</h1>
      </div>
      <div class="data_container">
        <table class="table table-striped-columns">
          <thead>
            <tr>
              <th scope="col">Timestamp</th>
              <th scope="col">Temperature (°C)</th>
              <th scope="col">Wind Speed (KM/H)</th>
              <th scope="col">Wind Direction (Degrees)</th>
              <th scope="col">Rain (MM)</th>
            </tr>
          </thead>
          <tbody *ngIf="data">
          <ng-container *ngIf="state != 'live' && state != 'stored'; else: elseBlock">
              <ng-container *ngFor="let item of data">
                <tr>
                  <th scope="row">{{ item.time | slice:11:19 }}</th>
                  <td>{{ item.temperature }}</td>
                  <td>{{ item.wind_speed }}</td>
                  <td>{{ item.wind_direction }}</td>
                  <td>{{ item.rainfall }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #elseBlock>
              <tr>
                <th scope="row">{{ data.time | slice:11:19 }}</th>
                <td>{{ data['temperature'] }}</td>
                <td>{{ data['wind-speed'] }}</td>
                <td>{{ data['wind-direction'] }}</td>
                <td>{{ data['rain'] }}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <app-my-chart></app-my-chart>
    </div>
    <aside>
      <div class="list-group">
        <div class="list-group-item">
          <h4>Measured at:</h4>
          <ng-container *ngIf="state==('live' && 'stored');else:elseContainer">
            <p>{{ data.date | slice:0:10}}</p>
          </ng-container>
          <ng-template #elseContainer>
            <p>{{ state }}</p>
          </ng-template>
        </div>
        <div class="list-group-item">
          <h5>Check out other dates and timestamps: </h5>
          <div style="display: flex; flex-direction: row">
            <input class="form-control" id="historical-date" type="date">
            <button class="btn btn-primary" (click)="getHistorical()">Search</button>
            <button class="downloadButton" (click)="downloadJson()" href="downloadUrl" download="data">Download</button>
          </div>
        </div>
      </div>
    </aside>
  </div>

</div>
