/*Voor kleine scherm------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .g-container {
    background: white;
    margin-top: 5vh;
    padding: 20px;
    border-radius: 10px;
  }
}

/*Voor brede scherm------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

  .g-container {
    background: white;
    margin-top: 20vh;
    padding: 20px;
    border-radius: 10px;
  }
}



